{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Manager App | Register Page</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css" rel="stylesheet"
        id="theme" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" id="theme" />

</head>

<body class="pace-top bg-white">
    <div id="page-container">
        <div class="register register-with-news-feed">
            <!-- begin news-feed -->
            <div class="news-feed">
                <div class="news-image">
                    <img src="{% static 'images/bg-8.jpg' %}" alt="" />
                </div>
                <div class="news-caption">
                    <h4 class="caption-title"><i class="fa fa-edit text-success"></i>The Manager App</h4>
                    <p>
                        Money == Time == Money. Manage them
                    </p>
                </div>
            </div>
            <div class="right-content">
                <h1 class="register-header">
                    Sign Up
                </h1>
                <div class="register-content">
                    <form method="POST" class="margin-bottom-0" role="form" action="{% url 'perform_registration' %}">
                        {% include 'messages.html' %}
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="username">UserName</label>
                            <input class="form-control item" type="text" id="username" name="username" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input class="form-control item" type="email" id="email" name="email" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Password</label>
                            <input class="form-control item" type="password" id="password1" name="password1" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Repeat Password</label>
                            <input class="form-control item" type="password" id="password2" name="password2" required>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-block btn-lg" type="submit">Sign Up</button>
                        </div>
                        <div style="text-align: center;">
                            <label>or</label>
                        </div>
                        <div class="form-group">
                            <a href="{% url 'social:begin' 'github' %}" class="btn btn-block btn-social btn-github btn-lg"
                                style="text-align: center;">
                                <span class="fa fa-github"></span> Sign up with Github
                            </a>
                        </div>
                        <div class="m-t-20 m-b-40 p-b-40">
                            Already a member? Click <a href="{% url 'display-login' %}">here</a> to login.
                        </div>
                        <hr />
                        <p class="text-center text-inverse">
                            &copy; Njane Labs Inc. All Right Reserved 2018
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>