{% load static %}

<aside class="main-sidebar col-12 col-md-3 col-lg-2 px-0">
    <div class="main-navbar">
        <nav class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap border-bottom p-0">
            <a class="navbar-brand w-100 mr-0" href="{% url 'index' %}" style="line-height: 25px;">
                <div class="d-table m-auto">
                    <img id="main-logo" class="d-inline-block align-top mr-1" style="max-width: 25px;"
                        src="{% static "images/shards-dashboards-logo.svg" %}" alt="Shards Dashboard">
                    <span class="d-none d-md-inline ml-1">Manager App</span>
                </div>
            </a>
            <a class="toggle-sidebar d-sm-inline d-md-none d-lg-none">
                <i class="material-icons">&#xE5C4;</i>
            </a>
        </nav>
    </div>
    <div class="nav-wrapper">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'my_budgets'%}">
                    <i class="material-icons">dashboard</i>
                    <span>My Budgets</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'view_budget_models'%}">
                    <i class="material-icons">dashboard</i>
                    <span>My Time Allocations</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'view_budget_models'%}">
                    <i class="material-icons">attach_money</i>
                    <span>Budgets Models</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'view_time_models' %}">
                    <i class="material-icons">access_time</i>
                    <span>Time Models</span>
                </a>
            </li>
        </ul>
    </div>
</aside>