{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block title %}Budgets Page{% endblock %}
{% block nav %}{% include 'timemodelsnav.html' %}{% endblock %}
{% block sidebar %}
<aside class="main-sidebar col-12 col-md-3 col-lg-2 px-0">
        <div class="main-navbar">
            <nav class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap border-bottom p-0">
                <a class="navbar-brand w-100 mr-0" href="{% url 'index' %}" style="line-height: 25px;">
                    <div class="d-table m-auto">
                        <img id="main-logo" class="d-inline-block align-top mr-1" style="max-width: 25px;" src="{% static "images/shards-dashboards-logo.svg" %}" alt="Shards Dashboard">
                        <span class="d-none d-md-inline ml-1">Manager App</span>
                    </div>
                </a>
                <a class="toggle-sidebar d-sm-inline d-md-none d-lg-none">
                    <i class="material-icons">&#xE5C4;</i>
                </a>
            </nav>
        </div>
        <div class="nav-wrapper">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'my_budgets'%}">
                        <i class="material-icons">dashboard</i>
                        <span>My Budgets</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'view-time-dashboard'%}">
                        <i class="material-icons">dashboard</i>
                        <span>My Time Allocations</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'view_budget_models'%}">
                        <i class="material-icons">attach_money</i>
                        <span>Budgets Models</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'view_time_models' %}">
                        <i class="material-icons">access_time</i>
                        <span>Time Models</span>
                    </a>
                </li>
            </ul>
        </div>
</aside>
{% endblock %}
{% block content %}
<div class="modal fade" role="dialog" tabindex="-1" id="newmodeltime">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">New Time Model</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" role="form" action="{% url 'create_time_model' %}" id="newBudget">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-md-6">
                            <div id="successfail"></div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-12" id="message">
                            <div class="form-group">
                                <label for="from-name">Name</label>
                                <span class="required-input">*</span>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-user-o"></i>
                                        </span>
                                    </div>
                                    <input class="form-control" type="text" name="time_model_name" required="" placeholder="Model Time Name"
                                        id="from-name">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col">
                                        <button class="btn btn-primary btn-block" type="reset">
                                            <i class="fa fa-undo"></i> Reset</button>
                                    </div>
                                    <div class="col">
                                        <button class="btn btn-primary btn-block" type="submit">Submit
                                            <i class="fa fa-chevron-circle-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <hr class="d-flex d-md-none" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" role="dialog" tabindex="-1" id="deletetimemodel" aria-labelledby="deletetimemodel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <h5>Are you sure to remove this Time model?</h5>
                </div>
                <input class="form-control" id="amount" readonly type="hidden" />
                <div class="form-group">
                    <div class="form-row">
                        <div class="col">
                            <button class="btn btn-primary btn-block" type="button" data-dismiss="modal">
                                <i class="fa fa-edit"></i>Close</button>
                        </div>
                        <div class="col">
                            <a class="btn btn-primary btn-block" href="#" id="removelink">Delete
                                <i class="fa fa-chevron-circle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="main-content-container container-fluid px-4">
    <!-- Page Header -->
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <h3 class="page-title">Time Models</h3>
        </div>
        <div class="col-12 col-sm-4 text-right text-sm-right mb-0">
            {% include 'messages.html' %}
        </div>
    </div>
    <!-- End Page Header -->
    <div class="row">
        {% if time_models %} {% for time_model in time_models %}
        {% if time_model.current == True %}
        <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
            <div class="stats-small stats-small--1 card card-small">
              <div class="card-body p-0 d-flex">
                <div class="d-flex flex-column m-auto">
                  <div class="stats-small__data text-center">
                    <span class="stats-small__label text-uppercase">{{ time_model.date_created }}</span>
                    <a href="{% url 'time_model_details' time_model.id %}"><h6 class="stats-small__value count my-3">{{ time_model.time_model_name }}</h6></a>
                  </div>
                  <div class="stats-small__data">
                    <button class="btn btn-success" type="button" disabled>Active Model</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
        {% if time_model.current == False %}
        <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
            <div class="stats-small stats-small--1 card card-small">
                <div class="card-body p-0 d-flex">
                <div class="d-flex flex-column m-auto">
                    <div class="stats-small__data text-center">
                    <span class="stats-small__label text-uppercase">{{ time_model.date_created }}</span>
                    <a href="{% url 'time_model_details' time_model.id %}"><h6 class="stats-small__value count my-3">{{ time_model.time_model_name }}</h6></a>
                    </div>
                    <div>
                        <a class="btn btn-outline-primary btn-sm" style="width:95px; float: left; display: block" href="{% url 'mark_time_model_active' time_model.id %}">Mark Active</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button data-toggle="modal" data-target="#deletetimemodel" data-id="{{ time_model.id }}" data-item="{{ time_model.time_model_name }}"
                            class="btn btn-outline-primary btn-sm" type="button" style="width:95px; float: right; display: block"
                            >Delete</button>
                    </div>
                </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %} {% endif %}
    </div>
</div>

{% endblock content %}